*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
border: 1px solid black;
height: 500px;
width: 600px;
background-color: aqua;
display: flex;
align-items: flex-end;
justify-content: flex-start;
}
.ball{
    position: relative;
    bottom: 0px;
    height: 70px;
    width: 70px;
    background-color: red;
    border-radius:50%;
    /*animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 4;          
    animation-timing-function:linear;
    animation-direction: alternate;*/
    
    animation: jump 1s ease-out infinite  alternate ,
    move 6s linear infinite alternate;
}
@keyframes jump  {
    from{
       bottom: 0px;
    }
    to{
       bottom: 300px;
    }
}
@keyframes move{
   from{
    transform: translate(0px); 
   }
  to{
     transform: translate(530px);  
  }
}

