*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
 display: flex;
 justify-content: center;    
 align-items: center;
}
.container{
    height: 700px;
    width: 700px;
    background-color: aqua;
    display: grid;
    grid-template-rows: 120px 120px 120px 120px;
    grid-template-columns: 120px 120px 120px 120px;
    justify-content: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100%;
    width: 100%;
     
}
#b1{
    background-color: rgb(161, 205, 50);
    grid-row: 1/4;
}
#b2
{
    background-color: rgb(204, 255, 0);
    
}
#b3{
   background-color: yellow; 
}
#b3{
    background-color: yellow;
}
 #b5
{
  background-color: rgb(217, 255, 0);  
  grid-column: 2/4;
  grid-row: ;

}
#b6{
    background-color: yellow;
}
#b7{
    background-color: rgb(212, 255, 0);
}
#b8{
    
}
#b9{

    background-color: rgb(95, 238, 109);
    grid-column: 4/4;
    grid-row: 1/4;    
} 
7